.delAcc-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.delAcc-btn {
  padding: 0.4rem 1.6rem;
  /* padding: 0.5rem 2rem; */
  font-size: 1.6rem;
  /* font-size: 2rem; */
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-bottom: 1px solid black;
  background: none;
}

.delAcc-btn:hover {
  border-radius: 4px;
  cursor: pointer;
}

.yes-btn:hover {
  background-color: var(--color-green);
}

.no-btn:hover {
  background-color: var(--color-accent-hover);
}

@media only screen and (min-width: 680px) {
  .delAcc-btn {
    padding: 0.56rem 2.24rem;
    font-size: 2.24rem;
  } 
}