.load-temp-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.load-temp-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title {
  margin: 0;
}

.load-temp-edit-btn {
  border: none;
  font-family: 'Varela Round', sans-serif;
  background: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.load-temp-edit-btn:hover {
  background-color: var(--color-accent);
  border-radius: 4px;
  cursor: pointer;
}

.load-temp-li {
  border-bottom: 1px solid black;
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.load-temp-name {
  font-size: 2rem;

}

.load-temp-li:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  border-radius: 4px;
}
