.popup-inner.login-popup {
  padding: 5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-header {
  font-size: 3rem;
  margin: 0 0 2rem;
}

.login-input {
  margin: 0 0 1rem;
  padding: 0.4rem;
  /* flex: 0 1 3rem; */
  height: 3.5rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: 'Varela Round', sans-serif;

}

.login-submit {
  margin: 1rem 0 2.5rem;
  width: 100%;
  height: 3rem;
  font-family: 'Varela Round', sans-serif;
}

.login-footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footer-text {
  font-size: 1.5rem;
}

.altForm-button {
  border: none;
  background: none;
  text-decoration: underline;
  color: #3F50BB;
  font-family: 'Varela Round', sans-serif;
}

.altForm-button:hover {
  cursor: pointer;
  color: #828FE0;

}

.login-close {
  border: none;
  padding: 0.55rem 0.55rem 0.2rem;
  border-radius: 25%;
  border: 1px solid black;
  background-color: var(--color-secondary);
}

.login-close:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}