.popup-inner.login-popup {
  padding: 4rem;
  /* padding: 5rem; */
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-header {
  font-size: 2.4rem;
  /* font-size: 3rem; */
  margin: 0 0 2rem;
}

.login-input {
  margin: 0 0 0.8rem;
  /* margin: 0 0 1rem; */
  padding: 0.32rem;
  /* padding: 0.4rem; */
  height: 2.8rem;
  /* height: 3.5rem; */
  width: 100%;
  font-size: 1.44rem;
  /* font-size: 1.8rem; */
  font-family: 'Varela Round', sans-serif;

}

.login-submit {
  margin: 0.8rem 0 2rem;
  /* margin: 1rem 0 2.5rem; */
  width: 100%;
  height: 2.4rem;
  /* height: 3rem; */
  font-family: 'Varela Round', sans-serif;
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  /* margin-top: 2rem; */
}

.footer-text {
  font-size: 1.2rem;
  /* font-size: 1.5rem; */
}

.forgot-pass {
  margin-top: 1.1rem;
}

.altForm-button {
  border: none;
  background: none;
  text-decoration: underline;
  color: #3F50BB;
  font-family: 'Varela Round', sans-serif;
}

.altForm-button:hover {
  cursor: pointer;
  color: #828FE0;

}

.login-close {
  border: none;
  padding: 0.55rem 0.55rem 0.2rem;
  border-radius: 25%;
  border: 1px solid black;
  background-color: var(--color-secondary);
  font-size: 1.4;
}

.login-close:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

.error {
  color: orangered;
  margin: 0;
  font-size: 1.2rem;
  /* font-size: 1.5rem; */
  align-self: center;
}

.login-error {
  color: orangered;
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  align-self: center;
}

.input-error {
  border: 1px solid orangered;
  box-shadow: 0 1px 5px orangered;
}

@media only screen and (min-width: 680px) {
  .popup-inner.login-popup {
    padding: 5.6rem;
  }

  .login-header {
    font-size: 3.36rem;
  }
  
  .login-input {
    margin: 0 0 1.12rem;
    padding: 0.448rem;
    height: 3.92rem;
    font-size: 2.016rem;
  }
  
  .login-submit {
    margin: 1.12rem 0 2.8rem;
    height: 3.36rem;
  }
  
  .login-footer {
    margin-top: 2.24rem;
  }
  
  .footer-text {
    font-size: 1.68rem;
  }

  .error {
    font-size: 1.68rem;
  }
}