/* Style the dropdown button */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 2.4rem;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  line-height: 1rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropdown-content-option {
  color: black;
  padding: 0.72rem 0.8rem;
}

/* Change the color of dropdown links on hover */
.dropdown-content .dropdown-content-option:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.show-dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  background-color: var(--color-button-hover)
}

.dropdown-content-option > p {
  font-size: 1.2rem;
  padding: 0.24rem;
  margin: 0;
}

@media only screen and (min-width: 680px) {
  .dropbtn {
    font-size: 3.36rem;
  }

  .dropdown-content {
    min-width: 168px;
  }

  .dropdown-content .dropdown-content-option {
    padding: 1.008rem 1.12rem;
  }

  .dropdown-content-option > p {
    font-size: 1.68rem;
    padding: 0.336rem;
  }
}

@media only screen and (min-width: 1441px) {
  .dropbtn {
    font-size: 4.704rem;
  }

  .dropdown-content {
    min-width: 235px;
  }

  .dropdown-content .dropdown-content-option {
    padding: 1.411rem 1.568rem;
  }

  .dropdown-content-option > p {
    font-size: 2.352rem;
    padding: 0.470rem;
  }
}