.taskCard {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  margin: 0.3rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 5;
  cursor: pointer;
}

.taskCard-selected {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: var(--color-accent);
  border-radius: 6px;
  z-index: -1;
}

.taskCard-mainLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0.8rem 0.4rem;
  /* margin: 1rem 1rem 0.5rem; */
  padding: 0 0.5rem;
  height: 3rem;
  border-bottom: 1px dotted black;
}

.task-card-heading {
  margin: 0;
  font-size: 1.6rem;
  /* font-size: 2rem; */
}

.duration {
  font-size: 1.6rem;
  /* font-size: 2rem; */
}

.taskCard-settings {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 3rem;
}

.edit-button {
  align-self: center;
  border: 1px solid black;
  padding: 0.55rem 0.55rem 0.2rem;
  border-radius: 25%;
  background-color: white;
  font-size: 1.04rem;
  /* font-size: 1.3rem; */
}

.edit-button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

.taskNotes {
  padding: 0.64rem 1.2rem;
  /* padding: 0.8rem 1.5rem; */
  margin: 0.4rem 0.8rem;
  /* margin: 0.5rem 1rem; */
  align-self: stretch;
  background-color: whitesmoke;
  font-family: 'Varela Round', sans-serif;
  border-radius: 3px;
  resize: none;
  font-size: 1.2rem;
  /* font-size: 1.5rem; */
  cursor: default;
}