.taskCard {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem 0 1rem 0.5rem;
  margin: 0.5rem 0 0.5rem;
}

.taskCard-selected {
  color: red;
  border-color: red;
}

.task-card-heading {
  margin: 0;
}