.task-container-primary {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 1rem;
}

.task-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.task-container-heading {
  margin: 0;
}