.taskCard {
  border: 1px solid grey;
  border-radius: 4px;
  /* padding: 1rem 0.5rem; */
  margin: 0.5rem 0 0.5rem;
  background-color: white;
}

.taskCard-selected {
  color: red;
  border-color: red;
}

.task-card-heading {
  margin: 0;
}

.taskCard-mainLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 0.5rem;
  height: 3rem;
}

.taskCard-settings {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 3rem;
}

.edit-button {
  align-self: center;
  border: none;
  padding: 0.6rem;
  border-radius: 50%;
}

.edit-button:hover {
  cursor: pointer;
}

.taskNotes {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.3rem;
  width: 98%;
  background-color: whitesmoke;
  border-radius: 3px;
  resize: none;
  font-size: 1.5rem;
}