.timeDisplay-wrapper {
  grid-column: span 3;
}

.timeDisplay {
  font-size: 7.8rem;
  /* font-size: 13rem; */
  margin: 0;
}

@media only screen and (min-width: 680px) {
  .timeDisplay {
    font-size: 10.92rem;
  }
}

@media only screen and (min-width: 900px) {
  .timeDisplay {
    font-size: 15.288rem;
  }
}