.timer-frame {
  background-color: var(--color-secondary);
  border-radius: 50%;
  height: 49rem;
  width: 49rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focusBlock-container {
  display: flex;
  gap: 1rem;
}





.timerContainer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 13rem 13rem 13rem;
  grid-template-rows: 2.5rem 20rem 4rem;
  place-items: center;
  place-content: center;
  margin: 5rem 0 5rem;
}

.button:hover {
  cursor: pointer;
}

.button-timeBlock {
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* .button-timeBlock:hover {
  background-color: var(--color-accent-hover);
  border-radius: 4px;
  border-bottom: 1px solid black;
} */

.timeBlock-clicked {
  background: fixed;
  font-size: 2rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--color-accent);
  border-bottom: 1px solid black;

}

.pomodoro-wrapper {
  place-self: center end;
}

.shortBreak-wrapper {
  place-self: center
}

.longBreak-wrapper {
  place-self: center start;
}

.stopAndGoButton {
  /* place-self: stretch; */
  padding: 1rem 2.5rem 0.5rem;
  background-color: var(--color-green);
  border: none;
  border-radius: 4px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
}

.stopAndGoStopper {
  background-color: var(--color-accent-hover);
}

.reset-wrapper  {
  place-self: center end;
}

.resetButton {
  background: none;
  border: none;
}

.skip-wrapper {
  place-self: center start;
}

.skipButton {
  background: none;
  border: none;
}