.dropbtn.user-opts {
  background: none;
  color: black;
  padding: 0.55rem 0.55rem 0.7rem;
  /* padding: 0.7rem; */
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 1px solid black;
  font-size: 1.12rem;
  /* font-size: 1.4rem; */
}

.dropbtn.user-opts:hover {
  background-color: var(--color-accent);
  border-radius: 4px;

}

.icon-case {
  background-color: var(--color-accent);
  border-radius: 50%;
}

@media only screen and (min-width: 680px) {
  .dropbtn.user-opts {
    padding: 0.77rem 0.77rem 0.98rem;
    font-size: 1.568rem;
  }
}

@media only screen and (min-width: 900px) {
  .dropbtn.user-opts {
    padding: 1.078rem 1.078rem 1.372rem;
    font-size: 2.195rem;
  }
}