*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background: #fff;
  color: #000;
  font-size: 2rem;
}

.primary-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}