:root {
  --color-primary: #FDFE9C;
  --color-secondary: #FEFFC0;
  --color-accent-hover: #FF8989d9;
  --color-accent: #FF898966;


  --color-blue: #698EB7;
  --color-red: #FF9D9D;
  --color-green: #ADE87D ;
  --color-button-hover: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


html {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
}

body {
  color: #000;
  font-size: 2rem;
  background-color: var(--color-primary);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

#root {
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  margin: auto;
}

.primary-header {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.primary-header_logo {
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.primary-navigation {
  display: flex;
  gap: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner {
  position: relative;
  padding: 3.2rem;
  padding: 1rem 0;
  width: 90%;
  max-width: 500px;
  background-color: var(--color-secondary);
  border-radius: 6px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.button-link {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  padding: 0.4rem;
  font-family: 'Varela Round', sans-serif;
}

.button-link:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  border-radius: 4px;
}


@media only screen and (min-width: 680px) {
  .App {
    max-width: 50.4rem;
  }

  .primary-header_logo {
    font-size: 2.24rem;
  }

  .popup-inner {
    width: 50%;
  }

  .button-link {
    font-size: 1.68rem;
    padding: 0.56rem;
  }

}

@media only screen and (min-width: 1441px) {
  .App {
    max-width: 70.56rem;
  }

  .primary-header_logo {
    font-size: 3.136rem;
  }

  .popup-inner {
    width: 50%;
  }

  .button-link {
    font-size: 2.352rem;
    padding: 0.784rem;
  }

}